body {
    margin: 20px;
    font-family: "Malgun Gothic", sans-serif;

    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
}

.news {
    border: black 1px solid;
}

.error {
    margin-top: 10%;
    margin-left: 20%;
}

footer {
    text-align: center;
}